$dashboard-banner-gradient-start: $primary !default;
$dashboard-banner-gradient-end: lighten(
  $dashboard-banner-gradient-start,
  5%
) !default;
$dashboard-banner-network-plain-container-background-color: lighten($dashboard-banner-gradient-end, 5%)!default;
$dashboard-line-color-price: lighten($dashboard-banner-gradient-end, 5%) !default;
$dashboard-line-color-market: $secondary !default;
$dashboard-stats-item-label-color: #fff !default;
$dashboard-stats-item-value-color: rgba(#fff, 0.8) !default;
$dashboard-banner-chart-legend-label-color: #fff !default;
$dashboard-banner-chart-legend-value-color: $dashboard-stats-item-value-color !default;
$dashboard-stats-item-border-color: $primary !default;
$dashboard-banner-network-plain-container-height: 205px;
$dashboard-banner-chart-axis-font-color: $dashboard-stats-item-value-color !default;

.dashboard-banner-container {
  position: relative;
  margin-top: -3rem;
  background-color: $primary;
  box-shadow: 0 5px 40px -5px rgba($black, 0.25);
}

.dashboard-banner-network-stats {
  display: grid;
  grid-auto-columns: 1fr;
  padding: 2rem 0;
  margin-bottom: 3rem;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 2rem;
  }

  &-item {
    grid-row: 1;
    padding-left: 1rem;
    color: $white;
    border-left: 4px solid rgba($white, 0.6);
  }
}

.dashboard-banner-network-stats {
  column-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  @include media-breakpoint-down(sm) {
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  @include stats-item($dashboard-stats-item-border-color, $dashboard-stats-item-label-color, $dashboard-stats-item-value-color);
}