use Mix.Config

# Configure your database
config :explorer, Explorer.Repo,
  database: "explorer_dev",
  hostname: "localhost",
  username: "postgres",
  password: "<REPLACE WITH THE PASSWORD YOU CHOSE>",
  pool_size: 20,
  timeout: 80_000

# Configure credentials for GECCEX
config :explorer, Explorer.ExchangeRates.Source.GECCEX, 
  app_id: "my-app-id",
  code: "mycode"
